<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<% @mikito_tasks.each do |task| %>
	<li><%= task.name %></li>
	<li><%= task.title %></li>
	<li><%= task.comment %></li>
	<li><%= task.time %></li>
	<li><%= task.created_at %></li>
<% end %>
<%= @mikito_time %>
<% @hayato_tasks.each do |task| %>
	<li><%= task.name %></li>
	<li><%= task.title %></li>
	<li><%= task.comment %></li>
	<li><%= task.time %></li>
	<li><%= task.created_at %></li>
<% end %>
<%= @hayato_time %>
<% @karen_tasks.each do |task| %>
	<li><%= task.name %></li>
	<li><%= task.title %></li>
	<li><%= task.comment %></li>
	<li><%= task.time %></li>
	<li><%= task.created_at %></li>
<% end %>
<%= @karen_time %>
<a href="/new">記録を追加する</a>
</body>
</html>
